public_html/index.html
public_html/css/main.css
public_html/js/main.js
public_html/cache
sources/styles/node_modules
sources/javascript/components
sources/javascript/build
.DS_Store
resources/.DS_Store
