
website/cache
sources/javascript/components
sources/javascript/build/**/*
sources/styles/node_modules/**/*
sources/html/node_modules/**/*
resources/psd/**/*


### WordPress ###
website/.htaccess
website/wp-content/uploads/**/*
website/wp-content/blogs.dir/
website/wp-content/upgrade/
website/wp-content/backup-db/
website/wp-content/advanced-cache.php
website/wp-content/wp-cache-config.php
website/sitemap.xml
website/wp-content/cache/
website/wp-content/backups/
website/sitemap.xml.gz
website/wp-config.php

.DS_Store
Thumbs.db
*.log


