double-shadow(coltext, colspan, colsh1, colsh2, size)
  text-shadow: colsh1 -2px 2px, colsh2 -4px 4px
  font-size: size
  height: size
  line-height: size
  color: coltext
  span
    color: colspan

clearfy() 
  &:after
    content: ''
    clear:both
    display: block
    width: 100%

wrap()
  width: 100%
  max-width: 960px
  margin: 0 auto
  position: relative

social-icon(bgcolor, caracter, med, color)
  display: block
  &:before
    background-color: bgcolor
    icon(caracter) 
    border-radius:6px
    width: med
    height: med
    display: block
    line-height: med
    color: color
    font-size: 16px

