#footer
  color:#7e7b72
  font-size: 14px
  line-height: 18px
  p
    font-size: 14px
    color:#7e7b72
    margin-bottom: 10px
  #sitemap
    float: left
    width: 580px
    ul
      height: 100px
      column-count: 2
      li a
        color:#7e7b72
        text-decoration: underline
        &:hover
          color: #fd8a00
  #contact
    float: left
    width: 380px
    div.input-double,
    div.submit,
    div.input
      text-align: right
      position:relative
    div.input-double label
      display: inline-block
      width: 41px
      text-align: right
    div.input-double input  
      margin-left: 0px
      display: inline-block
      width: 40px
    div.input-double span.username label
      width: 91px
    div.input-double span.username input
      margin-left: 4px
      width: 165px
    div.submit input[type="submit"]
      border: none
      background-color: #FFF
      color: #232020
      font-size: 13px
      font-weight: 600
      text-transform: uppercase
      padding-right: 15px
      cursor: pointer
    div.submit span
      background: url('images/sprite.png') no-repeat -39px -118px
      display: block
      width: 13px 
      height: 14px
      position: absolute
      right: 0
      top: 4px
    div.wpcf7 img.ajax-loader
      position: absolute
      left: 270px
      top: 3px
    input[type="email"],
    input[type="text"]
      width: 260px 
      height: 39px
      margin: 1px 0 0 
      background-color: #a6afad
      border: none
      box-shadow: none
      padding: 0 5px
    input[type="email"],
    input[type="text"]
      outline-color: #FF8B00
  .heading
    display: inline-block!important
    display:block
    background-color: #fd8a00
    padding: 0 20px
    height: 50px
    line-height: 50px
    color: #fff
    text-align: center
    font-weight: bold
    font-size: 18px
    margin-bottom: 15px
    .leg
      background: url('images/sprite.png') no-repeat -218px -10px
      display:block
      width: 10px 
      height: 10px
      position:relative
      bottom: 0px 
      left: 30px

#site-info
  background: #000
  bottom: 0
  color: #A4A4A4
  height: 45px
  padding-top: 8px
  position: absolute
  width: 100%
  overflow: hidden
  z-index: 200
  h3
    font-size: 14px
    font-weight: 600
    color:#FFF
    float: left
    width: 50%
    line-height: 30px
    span
      background: url('images/sprite.png') no-repeat -229px -78px
      display: block
      float: left
      width: 26px
      height: 29px
      margin-right: 10px

  a
    color:#FFF
    text-decoration: none
    &:hover
      color:#ff8b00
  ul
    float: right
    width: 345px
    margin-top: 5px
    li
      float: left
      padding: 0 10px
      border-left: 1px solid #b3b3b3
      font-weight: normal
      font-size: 12px
      &:first-child
        border-left: none
.bg3
  background: #fff url('images/dash-bg.png') repeat
  position: absolute
  height: 80px
  width: 100%
  z-index: 0
  bottom: 270px
