@import 'sources/styles/node_modules/nib'

/* component styles */
//@import 'sources/javascript/build/build.css'

/* absolut url srcs */
$host = "http://67.222.18.91/~tougher/"

/* wrap dimmension */
$wrap_width = 1040px

/* MOBILE Layout */
$wrap_width = 320px

/* commons */
@import 'sources/styles/deps/clean.styl'
@import 'sources/styles/commons/colors.styl'
@import 'sources/styles/commons/fonts.styl'
@import 'sources/styles/commons/buttons.styl'
