/*
Theme Name: summitblog
Author: Laura Melo, to Bracketmedia
Author URI: http://bracketmedia.com/
Description: The Summit Betchel blog theme.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import 'sources/styles/node_modules/nib'
*
  box-sizing: border-box


@import 'sources/styles/commons/colors.styl'
@import 'sources/styles/commons/fonts.styl'
@import 'sources/styles/commons/base.styl'
@import 'sources/styles/commons/functions.styl'
@import 'sources/styles/commons/buttons.styl'

@import 'sources/styles/layout.styl'

@import 'sources/styles/areas/header.styl'
@import 'sources/styles/areas/footer.styl'
@import 'sources/styles/areas/nav.styl'
@import 'sources/styles/areas/content.styl'
@import 'sources/styles/areas/sidebar.styl'

@import 'sources/styles/partials/partial.styl'

@import 'sources/styles/deps/clean.styl'
@import 'sources/styles/deps/isotope.styl'